* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 2000px;
    margin: 0 auto;
}
button, input{
    border: none;
    outline: none;
    background: transparent;
}
button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
.input-btn{
    border-radius: 8px;
    border: 1px solid var(--primary-700, #5C068C);
    background: var(--primary-700, #5C068C);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}
.input-btn button{
    color: var(--White, #FFF);
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
label{
    font-family: Gotham Bold;
}
.none{
    display: none;
}
.block{
    display: block;
}
.flex{
    display: flex;
}