* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}
button,
input {
  border: none;
  outline: none;
  background: transparent;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.input-btn {
  border-radius: 8px;
  border: 1px solid var(--primary-700, #5c068c);
  background: var(--primary-700, #5c068c);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}
.input-btn button {
  color: var(--White, #fff);
  font-family: Gotham;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
label {
  font-family: Gotham Bold;
}
.none {
  display: none !important;
}
.block {
  display: block;
}
.flex {
  display: flex;
}

/* table  */
.recent-searches_table {
  overflow: auto;
}
table {
  width: 100%;
  padding: 12px;
  border: none;
  border-collapse: collapse;
}
table,
th,
td {
  border: none;
}
th {
  text-align: left;
  background: var(--gray-50, #f9fafb);
  color: var(--gray-500, #667085);
  font-family: Gotham Bold;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 12px;
  border-top: 1px solid rgb(102, 112, 133, 0.1);
  border-bottom: 1px solid rgb(102, 112, 133, 0.1);
}
td {
  color: var(--gray-900, #101828);
  font-family: Gotham;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 26px 12px;
  cursor: pointer;
  border-bottom: 1px solid rgb(102, 112, 133, 0.1);
}
.first-line{
    font-family: Gotham;
}
.second-line {
  color: var(--gray-500, #667085);
}
.bold-text {
  font-family: Gotham Bold;
}
.small-text{
    font-size: 12px;
}
.table-container{
    overflow: auto;
}
.faint-text{
    color: var(--gray-500, #667085);
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.date-first-line{
    color: var(--gray-900, #101828);
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.date-second-line{
    color: var(--gray-500, #667085);
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.copy-div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.copy-img{
    cursor: pointer;
}

/* Pagination  */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.next,
.prev {
  display: flex;
  align-items: center;
  color: var(--gray-700, #344054);
  font-family: Gotham Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  gap: 10px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.next img,
.prev img {
  width: 16px;
  height: 16px;
}
.right-arr, .left-arr{
    display: flex;
    gap: 10px;
}
.right-arr p, .left-arr p,
#dots {
  color: var(--gray-500, #667085);
  text-align: center;
  font-family: Gotham Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 14px;
}

.left-arr .active {
  border-radius: 8px;
  background: var(--primary-25, #f9eeff);
  color: var(--primary-600, #7d1ab5);
}
.numbers-arr {
  display: flex;
  gap: 5px;
  /* border: 1px solid red; */
  margin: 0 30px;
}

/* side nav  */
.side-nav{
    background: var(--primary-900, #1D002E);
    min-height: 100vh;
    padding: 32px 24px;
    position: relative;
    overflow: hidden;
}
.logo-head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-head h2{
    color: #FFF;
    font-family: Gotham Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.search-field{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--gray-700, #344054);
    background: var(--primary-25, #F9EEFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 14px;
    margin: 20px 0;
}
.search-field input{
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-600, #7D1AB5);
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.search-field input::placeholder{
    color: var(--primary-600, #7D1AB5);
}
.dashboard-line{
    border: 1px solid var(--primary-800, #400063);
    margin: 20px 0;
}
.dashboard-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0 24px;
}
.bottom-profile{
    display: flex;
    gap: 10px;
}
.profile-cont h4{
    color: var(--White, #FFF);
    font-family: Gotham Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.profile-cont p{
    color: var(--gray-100, #F2F4F7);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.last-login p{
    color: var(--gray-100, #F2F4F7);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding: 20px 0;
}
.dashboard-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.single-link{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 12px;
}
.single-link h4{
    color: var(--White, #FFF);
    font-family: Gotham Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.dashboard-links a.active {
    border-radius: 6px;
    background: var(--primary-700, #5C068C);
}
.log-out{
    margin-top: 95px;
}
a{
    text-decoration: none;
}

/* Mobile nav  */
.mobile-nav{
    display: none;
}

/* @media (max-width: 900px) {
    .side-nav{
        display: none;
    }
    
} */

/* mobile nav  */
.mobile-nav_dashboard{
    display: none;
}
.side-nav{
    background: var(--primary-900, #1D002E);
    min-height: 100vh;
    padding: 32px 24px;
    position: relative;
}
.logo-head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-head h2{
    color: #FFF;
    font-family: Gotham Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.search-field{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--gray-700, #344054);
    background: var(--primary-25, #F9EEFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 10px 14px;
    margin: 20px 0;
}
.search-field input{
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-600, #7D1AB5);
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.search-field input::placeholder{
    color: var(--primary-600, #7D1AB5);
}
.dashboard-line{
    border: 1px solid var(--primary-800, #400063);
    margin: 20px 0;
}
.dashboard-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0 24px;
}
.bottom-profile{
    display: flex;
    gap: 10px;
}
.profile-cont h4{
    color: var(--White, #FFF);
    font-family: Gotham Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.profile-cont p{
    color: var(--gray-100, #F2F4F7);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.last-login p{
    color: var(--gray-100, #F2F4F7);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding: 20px 0;
}
.dashboard-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.single-link{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 12px;
}
.single-link h4{
    color: var(--White, #FFF);
    font-family: Gotham Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.dashboard-links a.active {
    border-radius: 6px;
    background: var(--primary-700, #5C068C);
}
.log-out{
    margin-top: 30px;
}
a{
    text-decoration: none;
}

/* Mobile nav  */
.mobile-nav{
    display: none;
}


.back-div{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.back-div p{
    color: var(--gray-700, #344054);
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@media (max-width: 900px) {
    .mobile-nav{
        display: flex;
    }
    .close{
        display: none;
    }
    .open{
        display: flex;
    }
    .closeIcon {
        display: none;
        position: fixed;
        right: 30px;
        top: 20px;
        z-index: 100;
    }
    .mobile-menu {
        position: fixed;
        transform: translateY(-110%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        list-style: none;
        padding: 15px 20px;
        background: var(--primary-900, #1D002E);
    }
    .showMenu {
        transform: translateY(0);
    }
    .mobile-nav_dashboard{
        display: block;
    }
    .log-out{
        margin-top: 40px;
    }
    .dashboard-links{
      gap: 7px;
    }
    
}

@media (max-width: 900px) {
  table {
    width: 200%;
  }
  .pagination {
    width: 200%;
  }
}
@media (max-width: 1350px) {
  table {
    width: 150%;
  }
  .pagination {
    width: 150%;
  }
  .dashboard-links{
    /* border: 1px solid red; */
    gap: 10px;
  }
}
